.ContactForm__form {
  background-color: aquamarine;
  width: 460px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ContactForm__input {
  width: 200px;
  margin-bottom: 20px;
}

.ContactForm__label {
  font-size: 18px;
  font-weight: bold;
  color: #282c34;
}

.ContactForm__button {
  width: 120px;
}
